.format_menutab_image_container {
    position: relative;
    text-align: center;
    widht: 100%;
    height:160px;
    color: #fff;
    font-size: 5rem;
    font-weight: 900;
}

.format_menutab_section_number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-outline-menutab {
    color: #fff !important;
    border-color: #fff !important;
}

.btn-outline-menutab:hover {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-menutab-lg {
    font-size: 1.1em !important;
    font-weight: 900 !important;
}

.btn-outline-menutab[aria-expanded="true"]:after {
    content: "\25b4";
}

.btn-outline-menutab[aria-expanded="false"]:after {
    content: "\25be";
}

.format_menu_tab_card {
    -moz-border-radius-topright: 0px !important;
    border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    border-top-left-radius: 0px !important;
}

.format-menutab fieldset#id_courseformathdr .colourpickercircle,
.format-site fieldset#id_courseformathdr .colourpickercircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 5px;
    border: 3px solid;
}

.format-menutab fieldset#id_courseformathdr .colourpickercircle:hover,
.format-site fieldset#id_courseformathdr .colourpickercircle:hover {
    border-color: orange;
}
.format-menutab fieldset#id_courseformathdr .colourpickercircle.selected,
.format-site fieldset#id_courseformathdr .colourpickercircle.selected {
    background-image: url([[pix:format_menutab|check-white]]);
    background-size: contain;
    border-color: #000;

}
.format-menutab fieldset#id_courseformathdr #colourselectnotify,
.format-site fieldset#id_courseformathdr #colourselectnotify {
    color: #212529;
    background-color: #e9ecef;
    border-radius: 0.2rem;
    padding: 2px 8px;
    height: 26px;
    font-size: 0.9em;
    display: none;
    top: 0;
    position: relative;
}

/*Remove rounded top left corner*/
.card-header:first-child {
    border-radius: 0 0 0 !important;
}

.card-footer:last-child {
    border-radius: 0 0 0 !important;
}

.local_menutab_gid_list_view {
    font-size: 0.9em;
    font-weight: lighter !important;
}