{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_menutab/multi_section_page

    Multi section page template.

    The purpose of this template is to render the course landing page
    i.e. all of the tiles representing all of the sections in the course

    Either this or single_section_page will be the first template called
    when the user launches a page from PHP

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
        * from_ajax - is this called from AJAX?
        * completionenabled - is completion enabled?
        * section_zero - info for section_zero template,
        * tiles - info for multi_section_tile and multi_section_tilebar templates
        * all_tiles_expanded - are we expanding all tiles?
        * activity_clipboard - moodle activity clipboard (not tiles),
        * course_activity_clipboard: moodle course activity clipboard (not tiles)

    Example context (json):
    {
        "from_ajax": 1,
        "completionenabled": 1,
        "section_zero": [],
        "tiles": [],
        "all_tiles_expanded": 0,
        "activity_clipboard": "",
        "course_activity_clipboard": ""
    }
}}
{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content

    Displays the complete course format.

    Example context (json):
    {
        "initialsection": {
                "num": 0,
                "id": 34,
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>",
                                    "hasname": "true"
                                },
                                "id": 3,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            },
        "sections": [
            {
                "num": 1,
                "id": 35,
                "header": {
                    "name": "Section title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Another forum</span></a>",
                                    "hasname": "true"
                                },
                                "id": 3,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            },
            {
                "num": 4,
                "id": 36,
                "header": {
                    "name": "Section 2 title",
                    "url": "#"
                },
                "cmlist": {
                    "cms": [
                        {
                            "cmitem": {
                                "cmformat": {
                                    "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Forum example</span></a>",
                                    "hasname": "true"
                                },
                                "id": 5,
                                "module": "forum",
                                "extraclasses": "newmessages"
                            }
                        }
                    ],
                    "hascms": true
                },
                "iscurrent": true,
                "summary": {
                    "summarytext": "Summary text!"
                }
            }
        ],
        "format": "topics",
        "title": "Course title example",
            "hasnavigation": true,
            "sectionnavigation": {
            "hasprevious": true,
            "previousurl": "#",
            "larrow": "&#x25C4;",
            "previousname": "Section 3",
            "hasnext": true,
            "rarrow": "&#x25BA;",
            "nexturl": "#",
            "nextname": "Section 5"
        },
        "sectionselector": {
            "hasprevious": true,
            "previousurl": "#",
            "larrow": "&#x25C4;",
            "previousname": "Section 3",
            "hasnext": true,
            "rarrow": "&#x25BA;",
            "nexturl": "#",
            "nextname": "Section 5",
            "selector": "<select><option>Section 4</option></select>"
        },
        "sectionreturn": 1,
        "singlesection": {
            "num": 1,
            "id": 35,
            "header": {
                "name": "Single Section Example",
                "url": "#"
            },
            "cmlist": {
                "cms": [
                    {
                        "cmitem": {
                            "cmformat": {
                                "cmname": "<a class=\"aalink\" href=\"#\"><span class=\"instancename\">Assign example</span></a>",
                                "hasname": "true"
                            },
                            "id": 4,
                            "module": "assign",
                            "extraclasses": ""
                        }
                    }
                ],
                "hascms": true
            },
            "iscurrent": true,
            "summary": {
                "summarytext": "Summary text!"
            }
        }
    }
}}
<style>
    header#page-header {
        display: none !important;
    }

    #format_menutab_home_page_image {
        display: flex;
        padding: 10px;
        width: 100%;
        height: 160px;
        background: {{#darken_background_image}}linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
        ),{{/darken_background_image}}
        url({{course_image}});
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: center;
        color: {{course_title_color}};
    }

    .marker {
        border-style: solid !important;
        border-width: 2px !important;
        border-color: red !important;
    }
</style>
<div id="{{uniqid}}-course-format">
    <h2 class="accesshide">{{{title}}}</h2>
    {{{completionhelp}}}
    <div class="row mb-1">
        <div class="col">
            {{^course_image}} <!-- if there is no image add a card-->
            <div class="card">
            <div class="card-body">
            {{/course_image}}
            <div id="format_menutab_home_page_image" class="
            {{#top-left}}justify-content-start{{/top-left}}
                {{#top-center}}justify-content-center{{/top-center}}
                {{#top-right}}justify-content-end{{/top-right}}
                {{#middle-left}}justify-content-start align-items-center{{/middle-left}}
                {{#middle-center}}justify-content-center align-items-center{{/middle-center}}
                {{#middle-right}}justify-content-end align-items-center{{/middle-right}}
                {{#bottom-left}}d-flex align-items-start flex-column{{/bottom-left}}
                {{#bottom-center}}d-flex align-items-center flex-column{{/bottom-center}}
                {{#bottom-right}}d-flex align-items-end flex-column{{/bottom-right}}">

                <div class="
                    {{#bottom-left}}mt-auto{{/bottom-left}}
                    {{#bottom-center}}mt-auto{{/bottom-center}}
                    {{#bottom-right}}mt-auto{{/bottom-right}}
            "><h3>{{coursename}}</h3></div>
            </div>
            {{^course_image}}<!-- if there is no image add a card-->
            </div>
            </div>
            {{/course_image}}
            {{#editing}}
                <div class="alert alert-warning text-center mt-2">
                    <h4>{{#str}}currently_editing, format_menutab{{/str}}</h4>
                </div>
            {{/editing}}
        </div>
    </div>
    <div class="menutab" data-for="course_sectionlist">
        {{> format_menutab/section_zero}}
        {{#sectionrows}}
            <div class="row mb-2">
                <div class="col">
                    <div class="card-deck">
                        {{#sections}}
                            <div id="section-{{sectionnumber}}" class="card section course-section border-secondary
                                 {{#marker}}marker{{/marker}}"
                                 data-sectionid="{{sectionnumber}}" data-sectionreturnid="{{sectionreturn}}"
                                 data-for="section"
                                 data-id="{{sectionid}}" data-number="{{sectionnumber}}" data-indexed="true">
                                <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}&section={{cardid}}"
                                title="{{title}}">
                                <div class="format_menutab_image_container">
                                    {{{image}}}

                                    {{#print_section_number}}
                                        <div class="format_menutab_section_number"
                                             style="color: {{section_number_text_color}};">{{cardid}}</div>
                                    {{/print_section_number}}
                                </div>
                                </a>

                                <div class="card-body course-section-header"
                                     data-id="{{sectionid}}" data-number="{{sectionnumber}}" data-for="section_title"
                                >
                                    <h5 class="card-title">
                                        {{^editing}}
                                            <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}
                                            &section={{cardid}}"
                                            title="{{title}}">
                                            {{title}}
                                            </a>
                                        {{/editing}}
                                        {{#editing}}

                                            <span class="inplaceeditable inplaceeditable-text float-left"
                                                  data-inplaceeditable="1"
                                                  data-component="format_menutab" data-itemtype="sectionnamenl"
                                                  data-itemid="{{sectionid}}" data-value=""
                                                  data-editlabel="New name for {{title}}" data-type="text"
                                                  data-options="">
                                                    <a href="#" class="quickeditlink aalink"
                                                       data-inplaceeditablelink="1" title="Edit topic name">
                                                        {{title}}
                                                        <span class="quickediticon visibleifjs">
                                                            <i class="icon fa fa-pencil fa-fw "
                                                               title="Edit topic name"
                                                               role="img" aria-label="Edit topic name"></i>
                                                         </span>
                                                    </a>
                                                </span>
                                            {{#controlmenu}}
                                                <span class="float-right">
                                                    {{> core_courseformat/local/content/section/controlmenu }}
                                                </span>
                                            {{/controlmenu}}
                                        {{/editing}}
                                    </h5>
                                    {{#editing}}
                                        <div class="clearfixt">&nbsp;<br></div>
                                    {{/editing}}

                                    <div class="format_mentutab_summary_text">
                                        <p class="card-text">
                                            {{{summary}}}
                                        </p>
                                    </div>

                                    {{#canedit}}
                                        <div class="format_menuttab_badges">
                                            <div data-region="sectionbadges"
                                                 class="sectionbadges d-flex align-items-center">
                                        <span class="badge badge-pill badge-primary order-1 d-none"
                                              data-type="iscurrent">
                                            Highlighted
                                        </span>
                                                <span class="badge badge-pill badge-warning order-2 d-none"
                                                      data-type="hiddenfromstudents">
                                            Hidden from students
                                        </span>
                                                <span class="badge badge-pill badge-secondary order-3 d-none">
                                            Not available
                                        </span>
                                            </div>


                                            {{^visible}}
                                                <div>
                                                <span class="badge badge-warning font-weight-bolder">
                                                    {{#str}}hiddenfromstudents, core{{/str}}
                                                </span>
                                                </div>
                                            {{/visible}}
                                        </div>
                                    {{/canedit}}

                                    <div class="format_menutab_progress">
                                        <div class="row">
                                            <div class="col">
                                                {{#progress}}
                                                    <div class="progress"
                                                         title="{{#str}}your_section_progress, format_menutab{{/str}}{{percent}}%">
                                                        <div class="progress-bar {{backgroundColor}}" role="progressbar"
                                                             style="width: {{percent}}%"
                                                             aria-valuenow="{{percent}}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100">{{percent}}%
                                                        </div>
                                                    </div>
                                                {{/progress}}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        {{/sections}}
                    </div>
                </div>
            </div>
        {{/sectionrows}}
    </div>
    {{#editing}}
        <div class="mdl-left py-2 changenumsections">
            <a href="{{config.wwwroot}}/course/changenumsections.php?courseid={{courseid}}
            &insertsection=0&sesskey={{sesskey}}"
            class="increase-sections">
            {{#str}}addsection, format_menutab{{/str}}
            </a>
        </div>
    {{/editing}}
</div>
{{#js}}
    require(['core_courseformat/local/content'], function(component) {
    component.init('{{uniqid}}-course-format', {}, {{sectionreturn}});
    });
{{/js}}
