<div id="section-0" class="section course-section" data-sectionid="0" data-sectionreturnid="0" data-for="section"
     data-id="{{sectionid}}" data-number="0" data-indexed="true" role="tablist" aria-multiselectable="true">
    <div class="card format_menu_tab_card">
        <div class="card-header section-zero-header" id="format-menutab-heading-one">
            <h5 class="mb-0">
                <button class="btn btn-outline-menutab" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{title}}
                </button>
            </h5>
        </div>
    </div>
    <div id="collapseOne" class="collapse {{^collapsed}}show in{{/collapsed}}"
         data-parent="#section-0"
         aria-labelledby="format-menutab-heading-one">
        <div class="card-block">
            {{#summary}}
                <div class="well well-lg">
                    {{{summary}}}
                </div>
            {{/summary}}
            <div id="format_menutab_section_zero_modules">
                <ul class="section img-text" style="padding-left:0px;">
                    {{#content}}
                        {{#course_modules}}
                            {{>format_menutab/course_module}}
                        {{/course_modules}}
                    {{/content}}
                </ul>
            </div>
        </div>
    </div>
</div>