<div id="section-0" class="section course-section" data-sectionid="0" data-sectionreturnid="0" data-for="section"
     data-id="{{sectionid}}" data-number="0" data-indexed="true" role="tablist" aria-multiselectable="true">
    <div class="card format_menu_tab_card">
        <div class="card-header section-zero-header" id="format-menutab-heading-one">
            <h5 class="mb-0">
                <button class="btn btn-outline-menutab btn-menutab-lg" type="button" data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="{{^collapsed}}true{{/collapsed}}{{#collapsed}}false{{/collapsed}}"
                        aria-controls="collapseOne">
                    {{title}}
                </button>
                <span class="float-right">
                    <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}"
                    title="{{#str}}grid_view, format_menutab{{/str}}" class="text-white">
                        <i class="fa fa-th"></i></a>
                    <a href="{{config.wwwroot}}/course/view.php?id={{courseid}}&table_contents=1"
                    title="{{#str}}list_view, format_menutab{{/str}}" class="ml-2 text-white">
                        <i class="fa fa-list"></i>
                    </a>
                </span>
            </h5>
        </div>
    </div>
    <div id="collapseOne" class="collapse {{^collapsed}}show in{{/collapsed}}"
         data-parent="#section-0"
         aria-labelledby="format-menutab-heading-one">
        <div class="card-block">
            {{#summary}}
                <div class="well well-lg">
                    {{{summary}}}
                </div>
            {{/summary}}
            <div id="format_menutab_section_zero_modules">
                <ul class="section img-text" style="padding-left:0px;">
                    {{#content}}
                        {{#course_modules}}
                            {{>format_menutab/course_module}}
                        {{/course_modules}}
                    {{/content}}
                    {{#editing}}
                        <button class="btn btn-link text-decoration-none section-modchooser section-modchooser-link activity-add d-flex align-items-center p-3 mb-3"
                                data-action="open-chooser" data-sectionid="0" data-sectionreturnid="0">
    <span class="pluscontainer icon-no-margin icon-size-3 d-flex p-2 mr-3">
        <i class="icon fa fa-plus fa-fw " aria-hidden="true"></i>
    </span>
                            <span class="activity-add-text">{{#str}}addresourceoractivity, core{{/str}}</span>
                        </button>
                    {{/editing}}
                </ul>
            </div>
        </div>
    </div>
</div>