<div id="section-0" class="section course-section" data-sectionid="0" data-sectionreturnid="0" data-for="section"
     data-id="{{sectionid}}" data-number="0" data-indexed="true" role="tablist" aria-multiselectable="true">
    <div class="card format_menu_tab_card">
        <div class="card-header section-zero-header" id="format-menutab-heading-one">
            <div class="h5 mb-0">
                <div class="row">
                    <div class="col d-flex justify-content-start align-items-center">
                        {{#print_start_button}}
                        <button class="btn btn-outline-menutab btn-menutab-lg" type="button" data-toggle="collapse"
                                data-target="#coursecontentcollapse0"
                                aria-expanded="{{^collapsed}}true{{/collapsed}}{{#collapsed}}false{{/collapsed}}"
                                aria-controls="coursecontentcollapse0">
                            {{title}}
                        </button>
                        {{/print_start_button}}
                    </div>
                    <div class="col d-flex justify-content-center align-items-center">
                        {{#print_overall_progress}}
                            {{#overall_progress}}
                                <h1><span class="badge badge-secondary"
                                          title="{{#str}}coursecompletion, core{{/str}}">{{percent}}%</span></h1>
                                <br/>
                            {{/overall_progress}}
                        {{/print_overall_progress}}
                    </div>

                    <div class="col d-flex justify-content-end align-items-center">
                        <input type="hidden" id="format_menutab_grid" value="1">
                        <a href="#"
                           title="{{#str}}list_view, format_menutab{{/str}}" data-view="list" data-course="{{courseid}}"
                           class="local_menutab_grid_list_view btn_grid_list_view ml-2 text-white">
                            <i class="fa fa-list"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coursecontentcollapse0" class="collapse {{^collapsed}}show in{{/collapsed}}"
         data-parent="#section-0"
         aria-labelledby="format-menutab-heading-one">
        <div class="card-block">
            {{#summary}}
                <div class="well well-lg">
                    {{{summary}}}
                </div>
            {{/summary}}
            <div id="format_menutab_section_zero_modules">
                <ul class="section img-text" style="padding-left:0px;">
                    {{#content}}
                        {{#course_modules}}
                            {{>format_menutab/course_module}}
                        {{/course_modules}}
                    {{/content}}
                    {{#editing}}
                        <button class="btn btn-link text-decoration-none section-modchooser section-modchooser-link activity-add d-flex align-items-center p-3 mb-3"
                                data-action="open-chooser" data-sectionid="0" data-sectionreturnid="0">
    <span class="pluscontainer icon-no-margin icon-size-3 d-flex p-2 mr-3">
        <i class="icon fa fa-plus fa-fw " aria-hidden="true"></i>
    </span>
                            <span class="activity-add-text">{{#str}}addresourceoractivity, core{{/str}}</span>
                        </button>
                    {{/editing}}
                </ul>
            </div>
        </div>
    </div>
</div>