{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_menutab/single_section

    Single Section content template.

    The purpose of this template is to render the content of a single section
    (i.e. the contents of one "tile" represeting a course topic".
    This is a separate template because it is called from externallib.php (i.e. from web service via JS)
    as well as being called from other templates (i.e. single_section_page) when rendering from PHP


    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
        * tileid
        * title
        * hidden_section
        * from_ajax
        * editing
        * secid
        * canedit
        * tileicon
        * defaulttileicon
        * sesskey
        * courseid
        * useSubtiles
        * coursemodules
        * single_sec_add_cm_control_html
        * single_sec_content_is_long
        * alt
        * completion_help

    Example context (json):
    {
        "tileid": 1,
        "title": "Section 1",
        "hidden_section": 0,
        "from_ajax": 0,
        "editing": 0,
        "secid": 101,
        "canedit": 1,
        "tileicon": "user",
        "defaulttileicon": "pie-chart",
        "sesskey": "12345678",
        "courseid": 99,
        "useSubtiles": 0,
        "coursemodules": [],
        "single_sec_add_cm_control_html": "",
        "single_sec_content_is_long": 0,
        "alt": "",
        "completion_help": ""
        }
}}
{{! this has to be an li for drag and drop sections to work properly (or at all) }}
<style>
    #format_menutab_tab.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color: {{tab_text_color}};
        background-color: {{tab_background_color}};
        border-color: {{tab_background_color}} {{tab_background_color}} #fff;
    }
</style>
<div id="section-{{cardid}}" data-section="{{cardid}}" class="section main clearfix" role="region"
     aria-label="{{title}}">
    <div class="content">
        {{#hidden_section}}
            {{#str}}notavailable{{/str}}
        {{/hidden_section}}
        <div class="left side"></div>
        <div class="right side"></div>
        {{^hidden_section}}

            <div class="pagesechead">
                <div class="sectiontitlecontainer">
                    <div class="sectiontitle" id="sectiontitle{{cardid}}" tabindex="3">
                        <h2>
                            {{{title}}}
                        </h2>
                        {{#hidden}}<span class="icon20" id="hiddeneye" title="Hidden"></span>{{/hidden}}
                    </div>

                </div>
            </div>
            {{{availabilitymessage}}}
            {{#image}}
                {{{image}}}
            {{/image}}
            {{#show_summary}}
                <div class="summary mt-2">{{{summary}}}</div>
            {{/show_summary}}
            <ul class="nav nav-tabs mt-2" id="format_menutab_tab" role="tablist">
                {{#tabs}}
                    {{#user_visible}}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {{active}}" id="tab-{{tabid}}" data-toggle="tab"
                                    data-target="#tab-content-{{tabid}}" type="button" role="tab"
                                    aria-controls="tab-content-{{tabid}}" aria-selected="true">{{title}}</button>
                        </li>
                    {{/user_visible}}
                {{/tabs}}
            </ul>

            <div class="tab-content" id="format_menutab_tab_content">
                {{#tabs}}
                    {{#user_visible}}
                        <div class="tab-pane fade {{class}}" id="tab-content-{{tabid}}" role="tabpanel"
                             aria-labelledby="tab-{{tabid}}">
                            <ul class="section">
                                {{#course_modules}}
                                    {{>format_menutab/course_module}}
                                {{/course_modules}}
                            </ul>
                        </div>
                    {{/user_visible}}
                {{/tabs}}
            </div>
        {{/hidden_section}}
    </div>
</div>